apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: python-app-container
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
          volumeMounts:
            - mountPath: /app/data
              name: json-file
      volumes:
        - name: json-file
          persistentVolumeClaim:
            claimName: json-pvc
